numpy
scipy
matplotlib
pillow
wxpython
numba
h5py
cython
numexpr
hdf5plugin
silx
fabio
reportlab
mmcif_pdbx
svglib
pyfai ; python_version > '2.7'
pyfai == 0.17; python_version == '2.7'
dbus-python; platform_system == 'Linux'
