<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>RAW</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleExecutable</key>
	<string>MacOS/RAW</string>
	<key>CFBundleName</key>
	<string>RAW</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>RAW</string>
	<key>CFBundleIconFile</key>
	<string>raw.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSBackgroundOnly</key>
	<string>0</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SAXS data file</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>out</string>
				<string>fit</string>
				<string>fir</string>
				<string>rad</string>
				<string>int</string>
				<string>dat</string>
				<string>csv</string>
				<string>sub</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image file</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tif</string>
				<string>tiff</string>
				<string>nxs</string>
				<string>edf</string>
				<string>ccdraw</string>
				<string>img</string>
				<string>imx_0</string>
				<string>dkx_0</string>
				<string>dxk_1</string>
				<string>png</string>
				<string>mpa</string>
				<string>mar1200</string>
				<string>mar2400</string>
				<string>mar3200</string>
				<string>mar3600</string>
				<string>sfrm</string>
				<string>dm3</string>
				<string>xml</string>
				<string>cbf</string>
				<string>kccd</string>
				<string>msk</string>
				<string>spr</string>
				<string>h5</string>
				<string>mccd</string>
				<string>mar3450</string>
				<string>npy</string>
				<string>pnm</string>
				<string>No</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SEC Data File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sec</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
</dict>
</plist>
